@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    scroll-behavior: smooth;
    background-color: #EDE8D1; /* secondary color default */
    color: #53161D; /* primary color text */
}
